{% extends "base.html" %} 
{% block content %}
{% load crispy_forms_tags %}

<form method="get">
  {{myFilter.form}}
  <input type="submit"/>
</form>
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <div id="defaultview">
          <button type="button" class="collapsible" class="btn btn-danger btn-large">Toggle Posts filtered by creation date</button>
            <div class="content">
              {% for post in myFilter.qs %}
              <p>
                <h2>{{ post.title }}</h2>
                <h4>{{post.content|slice:":50" }}</h4>
                <h6>Author: {{ post.created_by }}</h6>
                <h6>Created on: {{ post.created_at}}</h6>
                <h6>Last updated: {{ post.updated_at}}</h6>
                <h6>Topic: {{post.topic }}</h6>
                <h6>Likes: {{ post.likes }} | Dislikes: {{ post.dislikes }}</h6>
                <ul class="navbar-nav ml-auto">
                  <a href="{% url 'posts-detail' post.pk  %}" class="btn btn-primary">Read More &rarr;</a>
                </ul>
              </p>
              {% endfor %}
            </div>
        </div>
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>
{% if user.is_authenticated %}
<div class="container">
    <div class="row">
      <div class="col-md-8 card mb-4  mt-3 ">
          <div class="content">
          <h3>Create a post!</h3>
          <form method="post" style="margin-top: 1.3em;">
            {{ post_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
          </form>
        </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <div id="defaultview">
          <button type="button" class="collapsible" class="btn btn-danger btn-large">Toggle Posts filtered by likes</button>
            <div class="content">
              {% for post in likesFilter.qs %}
              <p>
                <h2>{{ post.title }}</h2>
                <h4>{{post.content|slice:":50" }}</h4>
                <h6>Author: {{ post.created_by }}</h6>
                <h6>Created on: {{ post.created_at}}</h6>
                <h6>Last updated: {{ post.updated_at}}</h6>
                <h6>Topic: {{post.topic }}</h6>
                <h6>Likes: {{ post.likes }} | Dislikes: {{ post.dislikes }}</h6>
                <ul class="navbar-nav ml-auto">
                  <a href="{% url 'posts-detail' post.pk  %}" class="btn btn-primary">Read More &rarr;</a>
                </ul>
              </p>
              {% endfor %}
            </div>
        </div>
      </div>
    </div>
  {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}