<h1>Sports Forum</h1>

{% block sidebar %}
        <ul class="nav-sidebar">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'sport' %}">Sports Forum</a></li>
          <li><a href="{% url 'health' %}">Health Forum</a></li>
          <li><a href="{% url 'politics' %}">Politics Forum</a></li>
          <li><a href="{% url 'tech' %}">Tech Forum</a></li>
        </ul>
{% endblock %}

{% block stage %}

<div class="content">
	<div class="new">
        <form method="POST" class="add_post">
            {% csrf_token %}
            <div class="col-sm-10"></div>
            <label for="title">Title:</label>
            <div class="col-sm-10"></div>
            <input type="text" id="title" name="title" placeholder="Enter Post Title"><br><br>
            <div class="col-sm-10"></div>
            <label for="description">Description:</label>
            <div class="col-sm-10"></div>
            <textarea rows="10" name="textareacontents" id='textareacontents'>{{ category.description }}</textarea>
            <br /><br />
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}

<!-- Posts  -->
<div class="ttitle">{{ topic.title }}</div>
<div id="list">

    {% for post in posts.object_list %}
        <div class="post">
            <span class="title">{{ post.title }}</span><br />
            by {{ post.creator }} | <span class="date">{{ post.created }}</span> <br /><br />
            {{ post.body }} <br />
        </div>
    {% endfor %}
</div>
</div>

{% block content %}
{% for post in object_list %}
    <div class="post-entry">
        <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.body }}</p>
    </div>
{% endfor %}
{% endblock content %}
